* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Special Elite", cursive;
  justify-items: center;
}

h1 {
  z-index: 5;
  position: fixed;
  width: 100%;
  text-align: center;
  color: red;
  background-color: white;
  margin: 1%;
  font-weight: 100;
  height: 5%;
  border: 2px double red;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  height: 40vh;
  flex-grow: 1;
}

li:last-child {
  flex-grow: 10;
}

img {
  max-height: 15%;
  min-width: 15%;
  object-fit: cover;
  vertical-align: bottom;
}

.container {
  /* margin-top: 5%; */
  margin-left: 20%;
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  overflow-y: auto;
  position: relative;
  z-index: 4;
  /* width: 100%; */
}

/* .image {
  width: 10px;
  display: inline;
  margin: 10px;
} */

/* .imageList {
  display: flex;
  margin: 10px;
  padding: 10px;
} */

.nav-list {
  display: inline;
}
.nav-list-item {
  height: 10vh;
}

.sidenav {
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 10;
  left: 0;
  background-color: grey;
  transition: 0.5s ease;
  overflow-x: hidden;
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 2%;
  padding-left: 2%;
  margin-top: 5%;
  border: 2px dotted blue;
}